.contact {
  width: 100%;
  height: 100%;

  .wrapper {
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;

    .main-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .contact-left-container {
        flex-basis: 35%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 40px;
          font-size: 80px;
          line-height: 88px;
          text-transform: capitalize;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 40px;

          li {
            h4 {
              text-transform: capitalize;
            }
            span {
              font-weight: 300;
            }
          }
        }
      }

      .contact-right-container {
        flex-basis: 55%;
        position: relative;

        .phoneSvg {
          stroke: #ffa500;
          position: absolute;
          margin: auto;
          z-index: -1;
        }

        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;

          input,
          textarea {
            width: 100%;
            padding: 20px;
            border: none;
            outline: none;
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
          }

          button {
            width: 100%;
            padding: 20px;
            border: none;
            background-color: #ffa500;
            cursor: pointer;
            font-weight: 500;
          }
        }
      }
    }
  }
}
