.Services {
    background: linear-gradient(180deg, #0c0c1d, #111132);

    .wrapper {
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 5% 0;
        display: flex;
        align-items: center;
        flex-direction: column;


        .textContainer {
            position: relative;
            align-self: flex-end;
            display: flex;
            align-items: center;

            h3 {
                width: 370px;
                display: flex;
                flex-direction: column;
                font-weight: 200;

                span {
                    &:last-child {
                        align-self: flex-end;
                    }
                }
            }
            

            .lineContainer {
                width: 230px;
                height: 3px;
                background-color: #808080;
                span {
                    display: none;
                }
            }

        }

        .titleContainer {
            width: 85%;
            max-width: 1336px;
            margin: 12% auto 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h3 {
                font-size: 30px;
                text-transform: uppercase;
        
                span {
                    font-weight: 900;
                }
            }

            button {
                padding: 1% 4%;
                border: 0;
                outline: 0;
                border-radius: 25px;
                background-color: #ffa500;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .8px;
                cursor: pointer;

            }
        }

        .listContainer {
            width: 85%;
            max-width: 1336px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .box {
                padding: 2.8%;
                display: flex;
                flex-direction: column;
                border: 1px solid #808080;
                border-radius: 10px;
                box-shadow: 0 0 3px 2px rgba(255,255,255,.3);
                transition: .5s ease-in-out;

                li {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
                
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                }

                button {
                    border: 0;
                    outline: 0;
                    padding: 3% 10%;
                    border-radius: 25px;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                &:not(:nth-of-type(3n)) {
                    margin-right: 2%;
                }

                &:hover {
                    background-color: #ffffff;
                    box-shadow: inset 0 0 3px 3px rgba(0,0,0,.7);

                    h4 {
                        color: #0c0c1d;

                        &::selection {
                            background-color:#7fffd4;
                        }
                    }

                    p {
                        color: #111132;
                        &::selection {
                            background-color:#7fffd4;
                        }
                    }
                    button {
                        box-shadow: 0 0 2px 1px #0c0c1d;
                    }
                }
            }
        }
    }
}