.sidebar {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #000000;


    .bg {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        background-color: #ffffff;

        .links {
            width: 100%;
            height: 100%;
            z-index: 1;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            a {
                font-size: 40px;
            }
        }
    }

    button {
        width: 50px;
        height: 50px;
        z-index: 999;
        position: fixed;
        top: 25px;
        left: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}